.button {
    background-color: #f1f1f1;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.button:hover {
    cursor: pointer;
    border: 1px solid #dddddd;
    box-shadow: 0px 2.5px 5px #cacaca70;
}

.button:active {
    background-color: #e0e0e0;
}

.input {
    border: 1px solid #f1f1f1;
    width: 93%;
    height: 45px;
    padding: 1rem;
    background-color: #fcfcfc;
    border-radius: 10px;
}

.inputError {
    border: 1px solid #fd7070;
    width: 93%;
    height: 45px;
    padding: 1rem;
    background-color: #fcfcfc;
    border-radius: 10px;
    color: #fd7070;
}

.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selectContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.task {
    display: flex;
    flex-direction: row;
    margin: 0.35rem;
    color: #575757;
}

.task > * {
    margin: 0 0.5rem;
}

.selectAllContainer {
    display: flex;
    margin-top: 1rem;
}

.selectAllContainer > h5 {
    margin-left: 1rem;
}